:host {

  .form-container {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* Adds spacing between rows */
    padding: 1rem;
    border: 1px solid #ddd;


    .form-field-label {
      flex: 0 0 150px; /* Fixed width for labels */
      font-weight: bold;
      justify-self: center;
      align-self: center;
    }

    .form-field-container {
      display: flex;
      flex-direction: row;
      //center items vertically
      align-items: center;

      gap: 1rem; /* Adds spacing between label and input */


      .form-field-input,
      .form-field-textarea {
        flex: 1; /* Makes inputs take the remaining space */
        width: 100%; /* Ensures consistent width */
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }

      .form-field-textarea {
        resize: vertical; /* Allows vertical resizing for textarea */
      }
    }
  }

  .add-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .reactant-list {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;

    .reactant-item {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      border-bottom: 1px solid #ddd;

      .remove-button {
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 0.25rem 0.5rem;
        margin-left: 2rem;
      }
    }
  }

}
