@use "palette" as palette;

:host {

  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: palette.$brand-primary;
    padding-left: 48px;

    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
    color: #ffffff;

    .logo-container {
      img {
        height: 80px;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

    }

    .nav-links {

      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;
        margin-right: 16px;
        font-weight: bold;
        font-size: 18px;
        display: inline-block;
        padding: 24px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
