@let substanceEntries = substanceEntries$ | async;
@if (substanceEntries) {
  <div class="substance-overview-header">
    <a class="substance-overview-create" [routerLink]="navigateToSubstanceCreateEntryPage()">
      + Create New Substance Entry
    </a>
  </div>
  <div class="substance-container">
    @for (entry of substanceEntries; track entry.id) {
      @if (entry) {
        <div class="substance-card">
          <div class="substance-header">
            @let substance = getSubstanceById$(entry.chemicalSubstanceId) | async;
            @if (substance) {
              <h3>{{ substance.name }}</h3>
            }
          </div>
          <p class="substance-property">
            <span class="substance-property-label">Location:</span>
            @let location = getLocationById$(entry.locationId) | async;
            @if (location) {
              <span class="substance-property-value">{{ location.name }}</span>
            }
          </p>
          <p class="substance-property">
            <span class="substance-property-label">Quantity:</span>
            <span
              class="substance-property-value"> {{ (entry.quantityBase | formatQuantity:entry.unit) || "-" }}</span>
          </p>
          <p class="substance-property">
            <span class="substance-property-label">Purity:</span>
            <span class="substance-property-value">{{ entry.purity || "-" }}</span>
          </p>
          <p class="substance-property">
            <span class="substance-property-label">Notes:</span>
            <span class="substance-property-value substance-note">{{ entry.note || "-" }}</span>
          </p>
          <div class="substance-button-container">
            <button class="substance-button" (click)="editSubstanceEntry(entry.id)">Edit</button>
            <chem-button [type]="ButtonType.DANGER" (click)="deleteSubstanceEntry(entry.id)">Delete</chem-button>
          </div>
        </div>
      }
    }
  </div>
}
