@let suppliers = suppliers$ | async;
<div class="management-header">
  <a class="create" [routerLink]="navigateToLocationCreatePage()">
    + Add new Supplier
  </a>
</div>
<div class="management-container">
  @for (supplier of suppliers; track supplier.id) {
    <div class="management-card">
      <a [href]="supplier.url">{{ supplier.name }}</a>
      <div class="management-button-container">
        <chem-button (click)="editSupplier(supplier.id)" [type]=ButtonType.PRIMARY>Edit</chem-button>
        <chem-button (click)="deleteSupplier(supplier)" [type]=ButtonType.DANGER>Delete</chem-button>
      </div>
    </div>

  }
</div>
