:host {


  .substance-overview-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;

    .substance-overview-create {
      background-color: #28a745;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;
      font-size: 14px;
      padding: 8px 12px;
      transition: background-color 0.2s;

      text-decoration: none;

      &:hover {
        background-color: #1e7e34;
      }
    }
  }


  .substance-container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;


    .substance-card {

      background-color: #f8f9fa;
      border: 1px solid #333333;
      margin: 2rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      width: 250px;


      .substance-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .substance-property {

        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 8px;
        margin: 4px 0;


        .substance-note {

          overflow: hidden;
          text-overflow: ellipsis;
          max-height: 1rem;
          min-height: 1rem;
          white-space: nowrap;
        }

        &-label {
          font-weight: bold;
        }

        &-value {
        }

      }

      .substance-button-container {

        display: flex;
        justify-content: space-between;
        flex-direction: row;

        margin-top: 2rem;

        .substance-button {
          background-color: #007bff;
          border: none;
          border-radius: 4px;
          color: #ffffff;
          cursor: pointer;
          font-size: 14px;
          padding: 8px 12px;
          transition: background-color 0.2s;

          &:hover {
            background-color: #0056b3;
          }
        }

        .substance-button-delete {
          background-color: #dc3545;

          &:hover {
            background-color: #a71d2a;
          }
        }
      }
    }
  }

}
