:host {

  div {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333333;
    padding-left: 48px;
  }

  a {
    color: #eee;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
  }

}
