/* You can add global styles to this file, and also import other style files */
// CSS RESET

@use "./app/styles/_index" as styles;

* {
  margin: 0;
  padding: 0;
}

html, body {

  background-color: styles.$app-background;
  color: styles.$text-primary;

}
