@use "styles" as styles;

:host {

  .toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1000;
  }

  @include styles.toast-animations();

  .toast {
    padding: 1rem;
    border-radius: 8px;
    color: styles.$text-inverted;
    font-weight: bold;
    @include styles.shadow(sm);
    animation: toastFadeIn 0.3s ease, toastFadeOut 0.3s ease 2.7s;
  }

  .success {
    background: styles.$status-success;
  }

  .error {
    background: styles.$status-error;
  }

  .info {
    background: styles.$status-info;
  }

  .warning {
    background: styles.$status-warning;
  }

}
