@let isRegistering = isRegistering$ | async;

@if (isProd) {
  <div>Use "omel" as username and "test" as password to access the application</div>
}

<div class="form">
  @if (isRegistering) {
    <h1>It seems you are using the Application for the first time..!</h1>
    <h1>Please register an admin account to continue.</h1>
  }

  <div class="form-field">
    <label>Username:</label>
    <input [field]="authForm.username" type="text">
  </div>

  <div class="form-field">
    <label>Password:</label>
    <input [field]="authForm.password" type="password">
  </div>
  <div class="button-container">
    <chem-button (click)="authenticate()" [type]=ButtonType.SUCCESS>
      @if (isRegistering) {
        Register
      } @else {
        Login
      }
    </chem-button>
  </div>
</div>

