<div class="substance-entry-form-container">
  <h1 class="substance-entry-form-title">Create a substance</h1>
  <div class="substance-entry-form">

    <div class="form-field">
      <label class="form-field-label">Name: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.name" type="text"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">CAS Number: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.casNumber" type="text"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">Molecular Formula: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.molecularFormula" type="text"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">Supplier: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.supplier" type="text"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">NFPA Health: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.nfpaHealth" type="number"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">NFPA Flammability: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.nfpaFlammability" type="number"/>
    </div>

    <div class="form-field">
      <label class="form-field-label">NFPA Reactivity: </label>
      <input class="form-field-input" [field]="chemicalSubstanceForm.nfpaReactivity" type="number"/>
    </div>

    @if (specifiedHazardOptions) {
      <div class="form-field">
        <label class="form-field-label">Specific Hazard: </label>
        <chem-dropdown (onSelect)="onSelectSpecifiedHazard($event)"
                       [options]="specifiedHazardOptions"
                       [selectedIndex]="(selectedSpecifiedHazardIndex$ | async ) ?? defaultSpecifiedHazardOption"></chem-dropdown>
      </div>
    }

  </div>

  <div class="button-container">
    <button (click)="submitForm()">Submit</button>
  </div>
</div>
