:host {
  .substance-entry-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.5rem;

    .substance-entry-form-title {
      font-size: 24px;
      font-weight: bold;
    }

    .substance-entry-form {
      display: flex;
      flex-direction: column;
      gap: 1rem; /* Adds spacing between rows */

      width: 380px;

      .form-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem; /* Adds spacing between label and input */

        .form-field-label {
          flex: 0 0 150px; /* Fixed width for labels */
          font-weight: bold;
        }

        .form-field-input,
        .form-field-textarea {
          flex: 1; /* Makes inputs take the remaining space */
          width: 100%; /* Ensures consistent width */
          padding: 0.5rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
        }

        .form-field-textarea {
          resize: vertical; /* Allows vertical resizing for textarea */
        }
      }

      .form-dropdown {
        margin-top: 1rem;
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      button {
        align-self: flex-start; /* Aligns the button to the start of the form */
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.2s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
