@let substanceChoices = substanceChoices$ | async;
<div>

  <div>
    <label>Location: </label>
    <input [field]="substanceEntryForm.location" type="text"/>
  </div>

  <div>
    <label>Quantity: </label>
    <input [field]="substanceEntryForm.quantity" type="text"/>
  </div>

  <div>
    <label>Purity: </label>
    <input [field]="substanceEntryForm.purity" type="text"/>
  </div>

  <div>
    <label>Notes: </label>
    <textarea [field]="substanceEntryForm.note" type="text"></textarea>
  </div>

  @if (substanceChoices) {
    <div>
      <chem-dropdown [label]="'Substance: '" (onSelect)="onSelectSubstance($event)"
                     [options]="substanceChoices"></chem-dropdown>
    </div>
  }

</div>

<button (click)="submitForm()">Submit</button>
