@let substances = substances$ | async;

@if (substances) {
  <div class="substance-overview-header">
    <a class="substance-overview-create" [routerLink]="navigateToSubstanceCreatePage()">
      + Add New Substance
    </a>
  </div>
  <div class="substance-container">
    @for (substance of substances; track substance.id) {
      <div class="substance-card">
        <h3>{{ substance.name }}</h3>
        <p class="substance-property">
          <span class="substance-property-label">CAS:</span>
          <span class="substance-property-value">{{ substance.casNumber || "-" }}</span>
        </p>
        <p class="substance-property">
          <span class="substance-property-label">Formula:</span>
          <span class="substance-property-value">{{ substance.molecularFormula || "-" }}</span>
        </p>
        <p class="substance-property">
          <span class="substance-property-label">Supplier:</span>
          <span class="substance-property-value">{{ substance.supplier || "-" }}</span>
        </p>
        <div class="nfpa-container">
          <ul>
            <chem-safety-square
              [healthHazard]="substance.nfpaHealth"
              [fireHazard]="substance.nfpaFlammability"
              [reactivity]="substance.nfpaReactivity"
              [specificHazard]="substance.nfpaSpecifiedHazard"
            />
          </ul>
        </div>
        <div class="substance-button-container">
          <button class="substance-button" (click)="editSubstance(substance.id)">Edit</button>
        </div>
      </div>
    }
  </div>
}
