@use "../../../../app/styles/index" as styles;
@use "sass:color";

:host {

  .substance-overview-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    .substance-overview-create {
      @include styles.btn-base();
      background-color: styles.$status-success;

      &:hover {
        background-color: color.adjust(styles.$status-success, $lightness: -15%);
      }

      &:active {
        background-color: color.adjust(styles.$status-success, $lightness: -25%);
      }
    }
  }

  .substance-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .substance-card {
      @include styles.card-base();
      width: 250px; // override default width

      .substance-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
          color: styles.$text-primary;
          margin: 0;
        }
      }

      .substance-properties {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .substance-property {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 8px;

          dt {
            font-weight: bold;
            color: styles.$text-secondary;
          }

          dd {
            margin: 0;
            color: styles.$text-primary;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.substance-note {
              max-height: 1rem;
            }
          }
        }
      }

      .substance-button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;


      }
    }
  }
}
