:host {

  .supplier-overview-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem;

    .supplier-overview-create {
      background-color: #28a745;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;
      font-size: 14px;
      padding: 8px 12px;
      transition: background-color 0.2s;

      text-decoration: none;

      &:hover {
        background-color: #1e7e34;
      }
    }
  }


  .supplier-overview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    //Center the cards
    justify-content: center;


    .supplier-card {
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 200px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }


      .button-container {
        display: flex;
        gap: 8px;
        margin-top: 12px;
      }
    }
  }
}
